{% extends "mediarecipes/mediarecipes_base.html" %}
{% block content %}
  <h3>Recipe</h3>
  <div class="jumbotron">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1>{{recipe.recipe_id}}-{{recipe.name}}</h1>
      </div>
      <div class="col-6 col-md-4">
        <p class="text-muted">all recipes based on 1000 ml</p>
      </div>
    </div>
    <table class='table table-hover'>
      <thead class='thead-light'>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Ingredient</th>
          <th scope='col'>Amount</th>
          <th scope='col'>Unit</th>
        </tr>
      </thead>
      <tbody>
        {% for step in orderedsteps %}
          <tr>
            <th scope='row'>{{step.number}}</th>
            {% if step.reagentstep %}
            <td>{{step.reagentstep.ingredient}}</td>
            <td>{{step.reagentstep.amount}}</td>
            <td>{{step.reagentstep.get_unit_display}}</td>
            {% elif step.phstep %}
            <td>pH to {{step.phstep.ph_to}} with  {{step.phstep.get_ingredient_display}}</td>
            {% elif step.sterilizestep %}
            <td>{{ step.sterilizestep.get_sterilize_display }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
