{% extends "mediarecipes/mediarecipes_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
{# {% url 'mediarecipes:newrecipe' %} #}
  <form action="" method="POST" onload="codeAddress();">
    {% csrf_token %}
    {% bootstrap_form recipeform %}
    <p></p>
    {{ step_formset.management_form }}
    {{ phstepformset.management_form }}
    {{ sterilizestepformset.management_form }}
    <input id="stepformseterrors" type="hidden" name="{{ step_formset.errors }}">
    </input>
    <div>
      <table id='recipe_table' class="table">
        <thead class='thead-light'><b>Recipe Steps</b>
          <tr>
                <th scope="col">Number</th>
                <th scope="col">Ingredient</th>
                <th scope="col">Amount</th>
                <th scope="col">Unit</th>
          </tr>
        </thead>
          {% for form in step_formset  %}
          <tr id=steprow class='stepformrow' scope='row'>
              {% for field in form %}
                <td id="td_{{ field.auto_id }}">
                  {{field}}
                </td>
              {% endfor %}
          </tr>
          {% endfor %}
          {% for form in phstepformset %}
          <tr id='phstep' class='trchange'>
            <td><p></p>{{ form.number}}</td>
            <td><span class="input-group-text" id="">Ph to:</span>{{ form.ph_to }} </td>
            <td><span class="input-group-text" id="">with:</span>{{ form.ingredient }}</td>
            <td><p></p>
              <span class="input-group-text" id="">pH Step</span></td>
          </tr>
          {% endfor %}
          {% for form in sterilizestepformset  %}
          <tr id='steristep'>
            <td>{{ form.number }}</td>
            <td>{{ form.sterilize }}</td>
            <td><span class="input-group-text">Sterilize Step</span></td>
          </tr>
          {% endfor %}
      </table>
    </div>
    <button class='btn btn-primary' type="button" name="button" onclick="addRow(steprow);">+</button>
    <button class='btn btn-primary' type="button" id="pHbutton" onclick="addRow(phrow);">Add pH Step</button>
    <button class='btn btn-primary' type="button" id="sterilizeButton" onclick="addRow(sterilizerow);">Add Sterilize Step</button>
    <div class="">
      <input id='recipe_form_button' class='btn btn-primary' type="submit" value="Add Recipe">
    </div>
  </form>
<p></p>
<p></p>
<div class="contact-button-wrapper">
	<button class="epk-button zip-button" onclick="finalizingAlert();">Finalize</button>
	<button class="epk-button-half epk-left" onclick="editAlert();">Make Edits</button>
	<input id='recipe_form_button' class="epk-button-half epk-right" type=submit value='Add Recipe'>
</div>


  <script src="{% static '/js/recipe_page.js' %}"></script>

{% endblock %}
