{% extends "mediarecipes/mediarecipes_base.html" %}
{% load staticfiles %}
{% block content %}
  <h1>Here are request {{request.pk}}'s details.</h1>
  <h4>{{request.media_recipe}}</h4>
  <h4>{{request.volume}}</h4>
  <h4>{{request.number_requested}}</h4>
  <h4>{{request.date_needed}}</h4>
  <h4>{{request.requested_by}}</h4>
  <h4>{{request.date_requested}}</h4>
  <h4>{{request.initial_comments}}</h4>
  <h4 id='statusline'>Status: {{request.get_status_display}}</h4>
  <div class="card" style="width: 20rem;">
  <table class='table table-hover'>
    <thead class='thead-light'>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Ingredient</th>
        <th scope='col'>Amount</th>
        <th scope='col'>Unit</th>
        <th class='selectreagent' hidden scope='col'>Bottle</th>
      </tr>
    </thead>
    <tbody>
      {% for step in orderedsteps %}
        <tr>
          <th scope='row'>{{step.number}}</th>
          {% if step.reagentstep %}
          <td>{{step.reagentstep.ingredient}}</td>
          <td>{{step.reagentstep.amount}}</td>
          <td>{{step.reagentstep.get_unit_display}}</td>
          <td class='selectreagent' hidden=True><select>
            <option selected>-----</option>
            {% for thing in mybottlelist %}
              {% if thing.chemical == step.reagentstep.ingredient %}
              <option>{{thing}}</option>
              {% endif %}
            {%endfor%}
            {% for thing in myadditivelist %}
              {% if thing.bottle.chemical == step.reagentstep.ingredient %}
              <option>{{thing}}</option>
              {% endif %}
            {%endfor%}
          </select></td>
          {% elif step.phstep %}
          <td colspan="3">pH to {{step.phstep.ph_to}} with  {{step.phstep.get_ingredient_display}}</td>
          <td class='selectreagent' hidden=True><select>
            <option selected>-----</option>
            {% for thing in mybottlelist %}
              {% if thing.chemical == step.phstep.get_ingredient_display %}
              <option>{{thing}}</option>
              {% endif %}
            {%endfor%}
            {% for thing in myadditivelist %}
              {% if thing.bottle.chemical == step.phstep.get_ingredient_display %}
              <option>{{thing}}</option>
              {% endif %}
            {%endfor%}
          </select></td>
          {% elif step.sterilizestep %}
          <td colspan="3">{{ step.sterilizestep.get_sterilize_display }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button id='startbutton' type="button" name="begin" onclick="swapStatus();">Start Recipe</button>
  </div>

  <script src="{% static '/js/request_page.js' %}"></script>
{% endblock %}
