.mynavbarlist{
  padding-right: 100px;
}
#sidebar{
  width: 200px;
  border-right: 2px solid blue;
}
.myform{
  width: 500px;
  padding-bottom: 50px;
}
.mynav{
  background-color:  #cccccc;
}

.stepformfield{
  border-top: 25px;
  width: 100%;
}
.stepformfield th{
  border: solid 1px grey;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.stepformfield td{
  border: solid 1px grey;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
#recipe_form_button{
  float: right;
}
